<nav>
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/register"><li>Register</li></a>
        <a href="/login"><li>Login</li></a>
        <a href="/contact"><li>Contact</li></a>
    </ul>
</nav>
